.Showcase {
    background-color: #212429;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.25em;
}

.BackgroundGradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    background: radial-gradient(50% 50% at 50% 50%, #24F29C10 0%, rgba(255, 255, 255, 0) 100%);
    transform: translate(-50vw, -100vh);
    z-index: 0;
}

section {
    display: block
}