.Showcase {
    background-color: #212429;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}

.Showcase h1 {
    font-size: 2em;
    line-height: 1em;
    letter-spacing: 0px;
}

.Showcase h2 {
    font-size: 1.5em;
    line-height: 1.35em;
    letter-spacing: 0px;
    font-weight: SemiBold;
}

.Showcase h3 {
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    font-weight: bold;
}

section {
    display: block
}

p {
    margin-top: 1.5em !important;
    /*background-color: red;*/
}