.ShowcaseHero {
    display: flex;
    height: 100vh;
    align-items: stretch;
    flex-direction: column;
}

.ShowcaseHeroItemsWrapper {
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: calc(100cqw - 2em);
    max-width: 1400px;
    flex: 2;
    gap: 2em;
}

.ShowcaseHeroButtonsContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 2em;
    padding: 2em;
}

.ShowcaseHeroComputerContainer {
    width: 55%;
    margin: 0 auto;
}

.ShowcaseHeroComputerContainer .Computer {
    margin: 0 auto;
    height: calc(100% - 10cqh);
    margin-top: 10cqh;
}

.ShowcaseHeroTitle {
    background-color: #24F29C;
    color: #212429;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25cqw;
    line-height: 25cqw;
    text-align: center;
    flex-shrink: 1;
}

@media only screen and (min-width : 1260px)  {
    .ShowcaseHeroTitle {
        line-height: 24cqw;
    }
}

@media only screen and (min-width : 1500px)  {
    .ShowcaseHeroTitle {
        font-size: 380px;
        line-height: 360px;
    }
}