.ShowcaseHero {
    display: flex;
    height: 100vh;
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
}

.ShowcaseHeroItemsWrapper {
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1400px;
    flex: 2;
    width: calc(100cqw - 6em);
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 0em;
    /*background-color: orange;*/
}

.ShowcaseHeroButtonsContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 2em;
    width: 38%;
}

.ShowcaseHeroComputerContainer {
    width: 62%;
    margin: 0 auto;
    position: relative;
    overflow: visible !important;
}

.ShowcaseHeroComputerContainer .Computer {
    aspect-ratio: 0.9;
    position: absolute;
    overflow: visible !important;
    top: 50%;
    transform: translateY(-50%);
    right: -20%;
    left: 3em;
}

.ShowcaseHeroComputerContainer .Computer canvas {
    overflow: visible !important;
}

@media only screen and (max-width : 768px) {
    .ShowcaseHeroItemsWrapper {
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        gap: 3em;
    }

    .ShowcaseHeroButtonsContainer {
        flex-shrink: 2;
        flex-grow: 0;
        margin-right: 1.5em;
        width: auto;
    }

    .ShowcaseHeroComputerContainer {
        width: 50%;
        flex-grow: 4;
    }
    .ShowcaseHeroComputerContainer .Computer {
        position: absolute;
        right: -20%;
        left: -20%;
    }
}

.ShowcaseHeroFooterWrapper {
    background-color: #24F29C;
    color: #212429;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
}

.ShowcaseHeroFooterWrapper h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20cqw;
    line-height: 18cqw !important;
    letter-spacing: 0.13em;
}

.ShowcaseHeroFooterWrapper h1>:first-child {
    display: inline-block;
    margin-left: 2.5cqw;
}

.blink {
    animation: blinker 2.75s linear infinite;
    display: inline-block;
}

@keyframes blinker {
    45% { opacity: 1;}
    50% { opacity: 0;}
    55% { opacity: 1;}
}

@media only screen and (max-width : 720px)  {
    .ShowcaseHeroFooterWrapper h1 {
        font-size: 19cqw;
    }
}

@media only screen and (min-width : 1281px)  {
    .ShowcaseHeroFooterWrapper h1 {
        font-size: 256px;
        line-height: 230.4px !important;
        letter-spacing: 2.1cqw;
    }
}
