.ShowcaseHero {
    display: flex;
    height: 100vh;
    align-items: stretch;
    flex-direction: column;
}

.ShowcaseHeroItemsWrapper {
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: calc(100cqw - 2em);
    max-width: 1400px;
    flex: 2;
    gap: 2em;
}

.ShowcaseHeroButtonsContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 2em;
    padding: 2em;
}

.ShowcaseHeroComputerContainer {
    width: 55%;
    margin: 0 auto;
}

.ShowcaseHeroComputerContainer .Computer {
    margin: 0 auto;
    height: calc(100% - 10cqh);
    margin-top: 10cqh;
}

.ShowcaseHeroTitle {
    background-color: #24F29C;
    color: #212429;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 21cqw;
    letter-spacing: 0.1em;
    text-align: center;
    flex-shrink: 1;
    line-height: 21cqw !important;
}

/*@media only screen and (min-width : 1260px)  {*/
/*    .ShowcaseHeroTitle {*/
/*        line-height: 24cqw;*/
/*    }*/
/*}*/

@media only screen and (min-width : 1280px)  {
    .ShowcaseHeroTitle {
        font-size: 268.8px;
        line-height: 268.8px !important;
        letter-spacing: 2.1cqw;
    }
}