.SimpleSection {
    margin: 0 auto;
    color: white;
    font-size: 2em;
    line-height: 1.5em;
    min-height: 100vh;
    max-width: 1400px;
    padding: 1.5em 1.5em;
    overflow: hidden;
}

.SimpleSection h1 {
    font-size: 4em;
    line-height: 2em;
}